# Entornos virtuales
venv/
.env

# Archivos de configuración específicos del entorno
*.local
*.env

# Archivos de bases de datos
*.db
*.sqlite3
*.duckdb

# Archivos de caché y temporales
__pycache__/
*.py[cod]
*.log
*.tmp

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de paquetes
*.egg-info/
dist/
build/

# Archivos de datos
data/